<header class="bg-primary p-3 d-flex align-items-stretch justify-content-between">

    <div>
    <img src="data/IMG_2914.png" alt="Profile Picture"
    style="width: 140px; height: 140px; border-radius: 50%; object-fit: fill;">
    </div>

    <div class="text-center">
    <h1>{{ resumeData?.name }}</h1>
    <p>Email: {{ resumeData?.email }}</p>
    <p>Phone Number: {{ resumeData?.number }}</p>
    </div>

    <div class="d-flex align-items-end justify-content-end">
    <a [href]="resumeData?.githubLink" target="_blank"><img src="https://raw.githubusercontent.com/devicons/devicon/7330accdbc47e2dc0c19789a48533c4a3c50fe58/icons/github/github-original.svg" style="width: 40px;"></a>
    <a [href]="resumeData?.linkedInLink" target="_blank"><img src="https://raw.githubusercontent.com/devicons/devicon/7330accdbc47e2dc0c19789a48533c4a3c50fe58/icons/linkedin/linkedin-original.svg" style="width: 40px;"></a>
    <a href="../../../public/data/resume.pdf" download="Javier_Lopez_Resume.pdf">
        <button>Download Resume</button>
    </a>
    <button (click) ="toggleTheme()">
            @if (isDarkMode) {
                ☀️
            } @else {
                🌙
            }
        </button>
</div>

</header>


<main class="bg-dark">
<div class="container-fluid text-center">
<div class="row align-items-stretch">

<div class="col-12 col-md-8">
    <div class="card w-100 mb-3">
    <img src="data/icons/grocery-cart.png" style="width: 140px; height: 140px;" alt="H-E-B image">
    <div class="card-body">
<h3 class="card-title">Work Experience: </h3>
@for (job of resumeData?.workExperience; track job.companyName) {
    <h5>{{ job.companyName }}</h5>
    <p class="card-text">{{ job.title }}</p>
    <p class="card-text">{{ job.startDate }} - {{ job.endDate }}</p>
    <p class="card-text">{{ job.description }}</p>
}
</div>
</div>

<div class="card w-100 mb-3">
<img src="data/icons/project-food.png" alt="Project picture" 
style="width: 140px; height: 140px; border-radius: 50%;">
<h3 class="card-title">Projects:</h3>
@for (project of resumeData?.projects; track project.name) {
<div class="card-body">
    <h3>{{ project.name }}</h3>
    <p>{{ project.techStack }}</p>
    <p>{{ project.shortDescription }}</p>
    <div class="d-flex justify-content-between">
    <a [href]="project.githubLink" target="_blank">View GitHub</a>
    <a [href]="project.liveLink" target="_blank">View Deployed Link</a>
    </div>
</div>
}
</div>
</div>


<div class="col-12 col-md-4">
<div class="card w-100 mb-3">
    <img src="data/icons/education-cap.png" style="width: 140px; height: 140px;" alt="Education logo">
    <div class="card-body">
        <h3 class="card-title">Education: </h3>
@for (school of resumeData?.education; track school.schoolName) {
<div>
    <h3>{{ school.schoolName }}</h3>
    <p>{{ school.degree }}</p>
    <p>{{ school.fieldOfStudy }}</p>
    <p>{{ school.graduationYear }}</p>
</div>
}
</div>
</div>

<div class="card w-100 mb-3">
    <img src="data/icons/skills-computer.png" style="width: 140px; height: 140px;" alt="Skill picture">
    <div class="card-body">
<h3 class="card-title">Skills: </h3>
@for (skill of resumeData?.skills?.languages; track $index) {
<span class="card-body">{{ skill }}</span>
}
</div>
</div>
<div class="card w-100 mb-3">
    <img src="data/icons/framework.png" style="width: 140px; height: 140px;" alt="Framework picture">
    <div class="card-body">
<h3 class="card-title">Frameworks:</h3>
@for (framework of resumeData?.skills?.frameworks; track $index) {
<span class="card-body">{{ framework }}</span>
}
</div>
</div>

<div class="card w-100 mb-3">
    <img src="data/icons/tools.png" style="width: 140px; height: 140px;" alt="Tools picture">
    <div class="card-body">
    <h3 class="card-title">Tools:</h3>
    @for (tool of resumeData?.skills?.tools; track $index) {
        <span class="card-body">{{ tool }}</span>
    }
    </div>
</div>

<div class="card w-100 mb-3">
<img src="data/icons/database.png" style="width: 140px; height: 140px;" alt="Database picture">
<div class="card-body">
<h3 class="card-title">Databases:</h3>
@for (database of resumeData?.skills?.databases; track $index) {
    <span class="card-body">{{ database }}</span>
}
</div>
</div>

<div class="card w-100 mb-3">
<img src="data/icons/learning-book.png" style="width: 140px; height: 140px;" alt="Learning picture">
<div class="card-body">
<h3 class="card-title">Learning Languages and Tools:</h3>
@for (learn of resumeData?.learning?.languages; track $index) {
    <span class="card-body">{{ learn }}</span>
}
@for (tool of resumeData?.learning?.tools; track $index) {
    <span>{{ tool }}</span>
}
</div>
</div>

</div>
</div>
</div>

</main>